### Import Libraries

In [1]:
import pandas as pd
import numpy as np

### Read the Excel file

In [2]:
data = pd.read_excel('test 2021-05-06 start.xlsx')

### Create a column to see where the VTWS_AVG values are missing

In [3]:
# Create an empty list
vtws_avg_list = []

# Checks which values are null in the VTWS_AVG column
for i in list(data['VTWS_AVG'].isnull()):
    if i == False:
        vtws_avg_list.append(np.nan) # Appends a null value to the list where the VTWS_AVG value is not missing
    else:
        vtws_avg_list.append('Erroneous') # Appends a string 'Erroneous' to the list where the VTWS_AVG value is missing

data['data qc flag VTWS_AVG'] = vtws_avg_list # Create a new column in the dataframe showing a flag where the value is missing using the list

In [4]:
data

,id,time,VTWS_AVG,WIND_SPEED,WIND_SPEED_2,windspeed5,Windspeed3a,data qc flag VTWS_AVG
0,0,2020-10-01 00:00:00-05:00,10.775331,10.687425,10.728533,11.908320,10.730430,NaN
1,1,2020-10-01 01:00:00-05:00,9.092214,9.165928,9.199237,9.464774,9.152460,NaN
2,2,2020-10-01 02:00:00-05:00,7.908880,8.012490,8.013744,9.959714,7.978371,NaN
3,3,2020-10-01 03:00:00-05:00,7.425524,7.442371,7.475331,7.747372,7.447742,NaN
4,4,2020-10-01 04:00:00-05:00,7.619581,7.656880,7.683305,7.866113,7.653255,NaN
...,...,...,...,...,...,...,...,...
1097,1104,2020-11-15 23:00:00-06:00,5.834029,5.828798,6.317920,9.141444,5.993583,NaN
1098,1105,2020-11-16 00:00:00-06:00,6.429171,6.447155,6.925761,10.177430,6.600696,NaN
1099,1106,2020-11-16 01:00:00-06:00,7.299750,7.307296,7.803329,9.154391,7.470125,NaN
1100,1107,2020-11-16 02:00:00-06:00,7.335454,7.430944,8.116082,10.575292,7.627493,NaN
1101,1108,2020-11-16 03:00:00-06:00,9.552739,7.925995,41.422289,127.655485,19.633674,NaN